@model ECart.ViewModels.LaptopViewModel

@Styles.Render("~/Styles/Effects")

@foreach (var laptop in Model.Laptops)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <img src="@laptop.ImageUrl" alt="" class="imgStyle" />
                <div class="caption">
                    <h4 class="LapName">@Html.ActionLink(laptop.LaptopName, "Details", new { laptopid = laptop.LaptopId })</h4>
                    <h4 class="">Rs. @laptop.Price</h4>
                </div>
                <div class="addToCart">
                    <p class="button">
                        @Html.ActionLink("Add to cart", "AddToShoppingCart", new { laptopid = laptop.LaptopId }, new { @class="btn btn-primary addToCartbtn"})
                    </p>
                </div>
            </div>
        </div>
    }



